* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  background: #1a1818;
}

.card-groups,
.card-group,
.card {
  aspect-ratio: 5/7;
}
.card-groups,
.card-group,
.big-card {
  width: 30vmin;
}
.card-group {
  position: absolute;
  transition: all 500ms ease;
}

.card-group[data-status="unknown"] {
  transform: scale(0);
}
.card-group[data-status="become-active-from-before"] {
  transform: translateX(-50%) scale(0);
  transition: none;
}
.card-group[data-status="after"] {
  transform: translateX(50%) scale(0);
}
.card-group[data-status="become-active-from-after"] {
  transform: translateX(50%) scale(0);
  transition: none;
}
.card-group[data-status="before"] {
  transform: translateX(-50%) scale(0);
}
.card-group[data-status="active"] {
  transition-delay: 300ms;
}
.card {
  aspect-ratio: 5/7;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  transition: all 500ms cubic-bezier(0.09, 0.84, 0.3, 0.92);

  overflow: hidden;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.big-card {
  border-radius: 1vmin;
  transform: translateX(var(--translate-x)) rotate(var(--rotate));
}
.lil-card {
  width: 12vmin;
  border-radius: 2vmin;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.card-group:hover .card {
  translate: var(--hover-translate-x) var(--hover-translate-y);
  rotate: var(--hover-rotate);
}
.card-group:hover .lil-card {
  z-index: 9;
}
/* Buttons Styling */
.card-swiper .card-swiper-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8vmin;
  padding: 0 2vmin;
}
.card-swiper-buttons > button {
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  color: white;
  padding: 12px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: 2px solid currentColor;
  transition: 500ms;
}
.card-swiper-buttons > button:hover {
  color: #0096c7;
}
.card-swiper-buttons > button:active {
  scale: 0.9;
}
